## Problem 1

Given an array of 1s and 2s, suppose that I need to count how many times it turns from being 1 to being 2. How many switches happen in this array?

In [1]:
import pandas as pd

In [2]:
import numpy as np
np.random.seed(444)

x = np.random.choice([1, 2], size=100000)

For reference, here is the for loop version

In [3]:
def count_transitions(x) -> int:
    count = 0
    for i, j in zip(x[:-1], x[1:]):
        if j==2 and i==1:
            count += 1
    return count

count_transitions(x)

24984

In [4]:
%timeit count_transitions(x)

50.4 ms ± 6.67 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

How would you make this vectorized and do it in one line? Also see if you can make it faster.

## Problem 2
Given panel data, how can you do a vectorized demeaning by group `i`?

__Hint: use the `stack` function__

In [5]:
panel_data = '''
i,t,value
0,0,4.688025813099681
0,1,5.52269259395655
0,2,3.794489256250384
0,3,3.9649616347982652
0,4,2.4118897054484862
0,5,3.4117301110880547
0,6,5.471047024539948
0,7,2.2243578376592072
0,8,3.0142946545236295
0,9,3.6286363500138106
1,0,20.763821602823516
1,1,21.364728204694217
1,2,16.473117837949424
1,3,22.906416928450746
1,4,20.685359348048078
1,5,23.98534980700863
1,6,17.449606215978182
1,7,24.30998889198093
1,8,19.684197761131074
1,9,19.468066794961956
2,0,13.345220275775793
2,1,13.759424454205883
2,2,15.433405160603295
2,3,7.599836415708792
2,4,12.815756066971403
2,5,9.567004610686734
2,6,13.707836922291087
2,7,5.037831324914107
2,8,9.862822201697297
2,9,17.52951651777798
3,0,2.8745063600488643
3,1,17.500660845021965
3,2,21.60320009500734
3,3,3.615382578465688
3,4,12.067565035781877
3,5,12.34780837405084
3,6,6.555567279947617
3,7,7.524996593472945
3,8,-2.8197131509063347
3,9,-12.42907679575168
'''

In [6]:
from io import StringIO

In [7]:
sample = pd.read_csv(StringIO(panel_data))

sample

    i  t      value
0   0  0   4.688026
1   0  1   5.522693
2   0  2   3.794489
3   0  3   3.964962
4   0  4   2.411890
5   0  5   3.411730
6   0  6   5.471047
7   0  7   2.224358
8   0  8   3.014295
9   0  9   3.628636
10  1  0  20.763822
11  1  1  21.364728
12  1  2  16.473118
13  1  3  22.906417
14  1  4  20.685359
15  1  5  23.985350
16  1  6  17.449606
17  1  7  24.309989
18  1  8  19.684198
19  1  9  19.468067
20  2  0  13.345220
21  2  1  13.759424
22  2  2  15.433405
23  2  3   7.599836
24  2  4  12.815756
25  2  5   9.567005
26  2  6  13.707837
27  2  7   5.037831
28  2  8   9.862822
29  2  9  17.529517
30  3  0   2.874506
31  3  1  17.500661
32  3  2  21.603200
33  3  3   3.615383
34  3  4  12.067565
35  3  5  12.347808
36  3  6   6.555567
37  3  7   7.524997
38  3  8  -2.819713
39  3  9 -12.429077

## Problem 3

Use chunking to calculcate the mean and variance of these two arrays. In other words, calculate the first two central moments without reading in the full data.

In [9]:
pd.read_csv("sample.csv",chunksize=1000)

In [10]:
import numpy as np
import pandas as pd

sample = np.random.normal(loc=[4., 20.], scale=[1., 3.5],
                           size=(1000000, 2))

pd.DataFrame(sample).to_csv("sample.csv",index=False)